@media (max-width: 992px) {
  .mt-header {
    padding-top: 100px;
  }
}

.list.is-inline *[data-separator] {
  &:not(:first-child) {
    &::before {
      content: attr(data-separator);
      padding-right: 1em;
    }
  }
}
